@keyframes opacityTrail {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scaleInX {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes arrowFade {
  0%, 100% { opacity: 0; }
  16.67% { opacity: 1; }
  50% { opacity: 1; }
  66.67% { opacity: 0; }
}

@keyframes servicesFlyIn {
  0% {
    transform: 
      translate3d(
        0,      /* x */
        100vh,  /* y */
        40vw    /* z */
      )
      rotateX(10deg);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 100px 40px;
  }

  70% {
    transform:
      translate3d(
        0,
        -40px,
        200px
      )
      rotateX(5deg);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 40px 20px;
  }

  100% {
    transform:
      translate3d(
        0,
        0,
        0
      )
      rotateX(var(--rotateX))
      rotateY(var(--rotateY));
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
  }
}

@keyframes rotateZ {
  from {
    transform: rotateY(0);
  }

  
  to {
    transform: rotateY(360deg);
  }
}