<script>
  import { slide, fade } from 'svelte/transition';
  import { cubicOut } from 'svelte/easing';
  
  // Components
  import LoaderComponent from '$lib/components/Loader.svelte';
  import Home from '$lib/components/Home.svelte';
  import GridNewComponent from '$lib/components/GridNew.svelte';
  import ContactComponent from '$lib/components/Contact.svelte';
  import AboutTwoComponent from '$lib/components/AboutTwo.svelte';
  import ProjectContentNew from '$lib/components/ProjectContentNew.svelte';

  import Lenis from 'lenis';

  // Media
  import ENZULogo from '$lib/img/icons/Enzu_logo.svg';
  import ENZUArrow from '$lib/img/icons/Enzu_arrow.svg';

  import { state, STATE, projects, shownProject, lenis, currentScrollEasing } from '$lib/stores';
  import { shuffleCharacters, addClass, removeClass, hasClass } from '$lib/HelperFunctions';
  
  // External libraries
	import { onMount } from 'svelte';

  let hamburgerRef;
  let mobileMenuRef;

  onMount(() => {
    $lenis = new Lenis({
      duration: 1, // speed
      easing: (t) => $currentScrollEasing.func(t), // https://www.desmos.com/calculator/brs54l4xou
      direction: "vertical", // vertical, horizontal
      gestureDirection: "vertical", // vertical, horizontal, both
      smooth: true,
      mouseMultiplier: 1, // sensibility
      smoothTouch: true, // Mobile
      touchMultiplier: 2, // sensibility on mobile
      infinite: false // Infinite scrolling
    });

    requestAnimationFrame(raf);
  });

  const raf = (time) => {
    $lenis.raf(time);
    requestAnimationFrame(raf);
  }

  const SetPageState = (newState) => {    
    $state = newState;
  }

  const ToggleHamburger = () => {
    if (!mobileMenuRef.classList.contains('active')) {
      // Mobile menu is not visible; show it.
      mobileMenuRef.classList.add('active');
      hamburgerRef.classList.add('active');
    } else {
      // Mobile menu is visible; hide it.
      mobileMenuRef.classList.remove('active');
      hamburgerRef.classList.remove('active');
    }
  }

  const navBtnHover = (btn) => {
    shuffleCharacters(btn, btn.textContent);
  }

  state.subscribe((value) => {
    removeClass(".nav-btn:not([name='" + value + "']", "active");
    removeClass(".nav-content:not([name='" + value + "']", "active");

    if (!hasClass("button[name='" + value + "']", "active")) {
      addClass("button[name='" + value + "']", "active");
    }

    // Only executes when #mobile-menu is visible
    if (mobileMenuRef) {
      if (mobileMenuRef.classList.contains('active'))
        ToggleHamburger();
    }
  });

  $: headerNoiseWidth = 0;
  $: headerNoiseHeight = parseFloat(
      getComputedStyle(document.documentElement)
        .getPropertyValue('--gridCellSize')
        .replace('px', '')
        .replace(' ', '')
    ) * 2;

  export { STATE };
</script>

<svelte:window bind:innerWidth={headerNoiseWidth}></svelte:window>

<style>
  @import '../lib/css/App.css';
  @import '../lib/css/NavMenu.css';
</style>

<section id='app'>
  {#if $state === STATE.Loading}
    <LoaderComponent />
  {/if}
  
  {#if $state !== STATE.Loading}
  <div id='main'
    transition:fade={{ duration: 400, easing: cubicOut }}>
    <div id='nav-container' class:blur={$state === STATE.Grid}>
      <!-- <NoiseComponent placement='header' canvasHeight={headerNoiseHeight} /> -->
      <button id='title' name='home' on:click={(event) => SetPageState(event.target.name)}>
        <div id='title-container'>
          <img src={ENZULogo} alt='enzu' class='logo'/>
        </div>  
      </button>
      
      <div id='nav-items'>
        <button name='grid' class='nav-btn' class:active={$state === STATE.Grid} on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>PROJECTS</button>
        <button name='about' class='nav-btn' class:active={$state === STATE.About} on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>ABOUT</button>
        <button name='contact' class='nav-btn' class:active={$state === STATE.Contact} on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>CONTACT</button>
      </div>

      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <div id='hamburger' bind:this={hamburgerRef} on:click={ToggleHamburger} role='button' tabindex='0'>
        <span id='top' class='line'></span>
        <span id='mid' class='line'></span>
        <span id='bot' class='line'></span>
      </div>

      <div id='mobile-menu' bind:this={mobileMenuRef} transition:slide={{ duration: 200 }}>
        <button name='grid' class:active={$state === STATE.Grid} class='nav-btn' on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>PROJECTS</button>
        <button name='about' class:active={$state === STATE.About} class='nav-btn' on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>ABOUT</button>
        <button name='contact' class:active={$state === STATE.Contact} class='nav-btn' on:click={(event) => SetPageState(event.target.name)} on:mouseenter={(event) => navBtnHover(event.target)}>CONTACT</button>
      </div>
    </div>
    {#if $state === STATE.Home} 
      <Home />
    {:else if $state === STATE.Grid}
      <GridNewComponent />
    {:else if $state === STATE.Contact}
      <ContactComponent />
    {:else if $state === STATE.About}
      <AboutTwoComponent />
    {:else if $state === STATE.Project}
      {@const project = $projects.find(project => project.id === $shownProject)}
      {#if project}
        <ProjectContentNew 
          project={project} />
      {/if}
    {/if}

    
    </div>
  {/if}
</section>
