<script>
  import { onMount } from 'svelte';
  import { cubicOut } from 'svelte/easing';
  import { fade, slide } from 'svelte/transition';
  import { throttle } from 'lodash';
  import shuffleLetters from 'shuffle-letters';


  let aboutIndex = [
    {heading: "Introduction", fontSize: "4vw", content: `I'm Barsin "enzu" Nissan a Stockholm-based designer with a passion for graphic design and a keen eye for aesthetics. My background in Architectural Engineering has equipped me with technical knowledge that I blend with creativity to deliver visually compelling designs.`},
    {heading: "Philosophy", fontSize: "4vw", content: `I believe in the power of design to communicate and inspire. My philosophy is centered around creating designs that are not only visually appealing but also meaningful and impactful. I strive to understand the needs and goals of my clients and to deliver designs that resonate with their target audience.`},
    {heading: "Personal Interests", fontSize: "3.4vw", content: `In my free time, I enjoy exploring new design trends, experimenting with different mediums, and pushing the boundaries of what is possible.`},
    {heading: "Technical Proficiency", fontSize: "3.4vw", content: `I possess extensive expertise in industry-leading design and 3D modeling software. I'm proficient in Blender for 3D modeling and animation, the entire Adobe Creative Cloud suite including After Effects, Premiere Pro, Photoshop, and Illustrator for digital content creation. My architectural background is supported by my mastery of Autodesk tools like Fusion360 for parametric modeling and Revit for BIM. I also utilize Figma for UI/UX design and collaborative prototyping.`}
  ];

  let currentIndex = 0;

  let direction = 1;
  let throttleDelay = 500;

  $: throttledHandleScroll = throttle((e) => {
      handleScroll(e);
    }, throttleDelay, { trailing: false });

  const handleScroll = (event) => {
    direction = Math.sign(event.deltaY);
    if (direction < 0 && currentIndex > 0) {
      // Scrolling up
      currentIndex--;
    } else if (direction > 0 && currentIndex < 3) {
      // Scrolling down
      currentIndex++;
    }
  }

  onMount(() => {
    const wheelHandler = (event) => throttledHandleScroll(event);
    window.addEventListener('wheel', wheelHandler);
    return() => {
      window.removeEventListener('wheel', wheelHandler);
    };
  });

  const getClassFromIndex = (index, currentIndex) => {
    const distance = Math.abs(index - currentIndex);
    switch (distance) {
      case 0:
        return 'active';
      case 1:
        return 'ii-from-active';
      case 2:
        return 'iii-from-active';
      case 3:
        return 'iv-from-active';
    }
  }

  const shuffleAnim = (node, text) => {
    shuffleLetters(node, {
      text: text,
      iterations: 6,
      fps: 60,
    });
  }
</script>

<style>
  @import "../css/AboutFour.css";
</style>

<div id="about-four-container">
  <div id="about-index-container">
    <div id="about-index"
      style:transform={`translateY(calc(-1 * (var(--aboutIndexHeadingLineHeight)) * ${currentIndex} + 40vh))`}>
      {#each aboutIndex as item, index}
        <h2 
          class={"about-heading " + getClassFromIndex(index, currentIndex)}
          on:click={() => {
            currentIndex = index;
          }}
          style:animation-delay={`${index * 0.2}s`}
          >
          {item.heading}
        </h2>
      {/each}
    </div>
    {#each aboutIndex as item, index}
      {#if index === currentIndex}
        <p id="about-content"
          use:shuffleAnim={item.content}
          on:click={() => shuffleAnim(node, item.content)}>
          {item.content}
        </p>
      {/if}
    {/each}
  </div>
</div>
