#slide1 {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100vh !important;
  margin-top: 0 !important;

  overflow: hidden;

  background: var(--colorLight);

  --mouseX: 0.5;
  --mouseY: 0.5;
  --rotateX: 0;
  --rotateY: 0;
}

#slide1 #title-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;

  z-index: 3;

  gap: 1rem;
}

#slide1 #title-container h1 {
  font-family: ClashGrotesk-Light;
  font-size: 4rem;
  color: var(--colorTextDark);

  mix-blend-mode: multiply;
}

#slide1 #title-container #btn-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1.1rem;
}

#slide1 #title-container button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: ClashGrotesk-Light;
  font-size: 2rem;
  color: var(--colorTextDark); 

  background: none;
  border: none;
  cursor: pointer;
}

#slide1 #title-container #btn-container span {
  position: relative;
  display: inline;
  background: var(--colorTextBlue);
  width: 18px;
  height: auto;
  aspect-ratio: 1;

  border: none;

  transition: all 500ms var(--easeOutCubic);
}

#selected-works {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;

  gap: 5rem;
  
  width: 100%;
  height: 100%;

  perspective: 100vw;
  perspective-origin: 50%;
}

#selected-works .project-thumb {
  --baseWidth: 200px;
  position: relative;
  width: calc(var(--baseWidth) * var(--scale));
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;

  will-change: transform;
  transform: 
    translate3d(
      calc(var(--start-x) + (var(--mouseX) - 0.5) * 100px * var(--speed)),
      calc(var(--start-y) + (var(--mouseY) - 0.5) * 100px * var(--speed)),
      var(--translate-z)
    )
    scale(var(--scale))
    rotateX(var(--rotateX))
    rotateY(var(--rotateY));
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px;

  opacity: 0;
  z-index: 2;
  
  transition: transform 1s var(--easeOutCubic), opacity 500ms var(--easeOutCubic);
}

#selected-works .project-thumb.empty {
  position: absolute;
  --baseWidth: 40px;
  background: var(--colorTextBlue);
  z-index: 1;
}

@media only screen and (max-width: 2200px) {
  #selected-works .project-thumb {
    --baseWidth: 200px;
  }
}

@media only screen and (max-width: 1900px) {
  #selected-works .project-thumb {
    --baseWidth: 180px;
  }
}

@media only screen and (max-width: 1500px) {
  #selected-works .project-thumb {
    --baseWidth: 140px;
  }
}

@media only screen and (max-width: 1300px) {
  #selected-works .project-thumb {
    --baseWidth: 120px;
  }
}

@media only screen and (max-width: 1000px) {
  #selected-works .project-thumb {
    --baseWidth: 100px;
  }
}