* {
  --servicesVisibleItems: 5;
  --servicesItemFontSize: 4rem;
  --servicesItemLineHeightMulti: 3;
  --servicesItemLineHeight: calc(var(--servicesItemFontSize) * var(--servicesItemLineHeightMulti));
}

#services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;

  background: var(--colorTextBlue);

  perspective: 100vw;
  perspective-origin: 50%;
}

#services-container .inner-container {
  --rotateX: 0deg;
  --rotateY: 0deg;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  
  background: var(--colorLight);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 80px 40px;
  
  overflow: hidden;
  
  width: calc(100vw - 10 * var(--gridCellSize));
  max-height: calc(var(--servicesVisibleItems) * var(--servicesItemLineHeight));

  will-change: transform;
  transform: 
      translate3d(
        0,
        100vh,
        40vw
      )
      rotateX(20deg);
  transform-style: preserve-3d;

  animation: servicesFlyIn 1000ms var(--easeOutCubic) forwards;
  animation-delay: 400ms;
}

#services-container .inner-container h4 {
  position: absolute;
  font-family: ClashGrotesk-Light;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--colorTextDark);

  margin: 1rem 1.5rem;
}

#services-container #scroller {
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;

  gap: 3rem;

  width: 100%;
  max-height: inherit;
}

#services-container .title-container {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

#services-container .enzu-title {
  font-family: ClashGrotesk-Light;
  font-size: 6rem;
  color: var(--colorTextBlue);
  
  height: fit-content;
  margin-top: -.8rem;
}

#services-container .arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;

  transform: rotate(0deg);

  transition: transform 500ms var(--easeOutCubic);
}

#services-container .arrows.loaded {
  transform: rotate(180deg)
}

#services-container .enzu-arrow {
  display: inline-block;
  width: 1.5rem;
  height: auto;

  margin-right: -.3rem;
  margin-left: -.3rem;

  transform: rotate(0deg);
  transition: transform 500ms var(--easeOutCubic);
}

#services-container .enzu-arrow.loaded {
  transform: rotate(180deg);
}

#services-container #services-list {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  align-self: start;
  margin: 0;

  margin-top: calc(var(--servicesVisibleItems) / 2 * var(--servicesItemLineHeight) - var(--servicesItemLineHeight) / 2);
  
  transform: translateY(calc(10 * var(--servicesItemLineHeight)));
  transition: transform 500ms var(--easeOutCubic);
}

#services-container #services-list.loaded {
  transform: translateY(calc(-1 * var(--currentIndex) * var(--servicesItemLineHeight)));
}


#services-container #services-list li {
  position: relative;
  display: flex;
  align-items: center;

  font-family: ClashGrotesk-Light;
  font-size: var(--servicesItemFontSize);
  color: var(--colorTextDark);
  text-align: left;
  white-space: nowrap;

  list-style-type: none;
  line-height: var(--servicesItemLineHeight);
  user-select: none;

  cursor: pointer;

  transition: all 250ms var(--easeInOut);
}

#services-container #services-list li.active {
  color: var(--colorTextBlue);
  transform: translateX(2rem);
}

@media only screen and (max-width: 2200px) {
  * {
    --servicesVisibleItems: 5;
    --servicesItemFontSize: 3rem;
    --servicesItemLineHeightMulti: 3;
  }

  #services-container #services-list {
  }

  #services-container .inner-container h4 {
    
    font-size: 1.5rem;
  }

  #services-container .enzu-title {
    font-size: 5rem;
  }

  #services-container .enzu-arrow {
    width: 1.3rem;
    height: auto;
  }
}

@media only screen and (max-height: 900px) {
  * {
    --servicesItemLineHeightMulti: 2.5;
  }
}

@media only screen and (max-width: 1600px) {
  #services-container .inner-container {
    width: calc(100vw - 5 * var(--gridCellSize));
  }

  #services-container .inner-container h4 {
    
    font-size: 1.5rem;
  }

  #services-container .enzu-title {
    font-size: 5rem;
  }

  #services-container .enzu-arrow {
    width: 1.3rem;
    height: auto;
  }
}