* {
  --svgPixelWidth: 16px;
}

#slides-container #slide0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--colorLight);
  overflow: hidden;
}

#slides-container #slide0 .content {
  margin-top: calc(var(--navbarHeight) + var(--gridCellSize));
}

#slides-container #slide0 .vid-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: calc(100vw - 4 * var(--gridCellSize));
  gap: 8rem;

  padding: 0 calc(2 * var(--gridCellSize));
}

#slides-container #slide0 .vid-container #intro-text::before {
  position: relative;
  display: inline-block;
  content: '';
  background: var(--colorTextBlue);
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  top: -.2rem;
  margin-left: -2.4rem;
  margin-right: 1.6rem;
}

#slides-container #slide0 .vid-container #intro-text {
  margin-top: 10rem;

  font-family: 'ClashGrotesk-Regular';
  font-size: 1.8rem;
  color: var(--colorTextDark);
  flex: 1;

  padding: 2rem;

  text-align: start;
}

#slides-container #slide0 #motto {
  position: absolute;
  top: calc(var(--navbarHeight) + var(--gridCellSize));
  left: 50rem;
  
  height: max-content;
  font-family: 'ClashGrotesk-Regular';
  font-size: 9.5rem;
  color: var(--colorTextDark);
  transform: translateX(-50%);

  white-space: nowrap;

  user-select: none;
  pointer-events: none;
}

#slides-container #slide0 #motto span {
  position: absolute;
}

#slides-container #slide0 #motto span:nth-of-type(2) {
  padding-left: 18.5rem;
}

#slides-container #slide0 .scroll-arrow-container {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;

  transform: translateX(-50%);
}

#slides-container #slide0 .scroll-arrow {
  position: relative;
  width: 2.5rem;
  margin-top: -25%;

  opacity: 0;
}

#slides-container #slide0 .scroll-arrow.loaded {
  animation: arrowFade 1.26s steps(1) infinite;
}

#slides-container #slide0 .scroll-arrow:nth-child(1) {
  animation-delay: 0s;
}

#slides-container #slide0 .scroll-arrow:nth-child(2) {
  animation-delay: 0.21s;
}

#slides-container #slide0 .scroll-arrow:nth-child(3) {
  animation-delay: 0.42s;
}

#slides-container #slide0 .svg-container {
  display: inline-block;
}

#slides-container #slide0 .svg-row {
  display: flex;
  margin-top: 2px;
  gap: 2px;
}

#slides-container #slide0 .svg-pixel {
  width: var(--svgPixelWidth);
  height: auto;
  aspect-ratio: 1;
  box-shadow: none;
  user-select: none;

  opacity: 1;

  transition: opacity 400ms var(--easeOutCubic);
}

#slides-container #slide0 .svg-pixel.hovered {
  opacity: 0;
}

@media only screen and (max-width: 2200px) {
  * {
    --svgPixelWidth: 11px;
  }

  #slides-container #slide0 #motto {
    left: 35rem;
    font-size: 7rem;
  }

  #slides-container #slide0 .vid-container {
    gap: 6rem;
  }
}

@media only screen and (max-width: 1900px) {
  * {
    --svgPixelWidth: 10px;
  }

  #slides-container #slide0 .scroll-arrow {
    width: 2rem;
  }

  #slides-container #slide0 #motto {
    left: 30rem;
    font-size: 5rem;
  }

  #slides-container #slide0 .vid-container {
    gap: 5rem;
  }

  #slides-container #slide0 .vid-container #intro-text {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1500px) {
  * {
    --svgPixelWidth: 7px;
  }

  #slides-container #slide0 #motto {
    left: 20rem;
    font-size: 5rem;
  }

  #slides-container #slide0 .vid-container {
    gap: 4rem;
  }

  #slides-container #slide0 .vid-container #intro-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  * {
    --svgPixelWidth: 6px;
  }

  #slides-container #slide0 #motto {
    left: 15rem;
    font-size: 4rem;
  }

  #slides-container #slide0 .vid-container #intro-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  * {
    --svgPixelWidth: 6px;
  }

  #slides-container #slide0 #motto {
    left: 15rem;
    font-size: 4rem;
  }

  #slides-container #slide0 .vid-container #intro-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  * {
    --svgPixelWidth: 5px;
  }

  #slides-container #slide0 #motto {
    left: 10rem;
    font-size: 3rem;
  }
}