#about-one-container {
  margin-top: calc(var(--navbarHeight) + var(--aboutOneCellSize));
  align-self: center;
  justify-self: center;
  width: max-content;
}

#about-one-container #grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  background: none;
}

#about-one-container #grid .row {
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;

  z-index: 2;
}

#about-one-container #grid .cell {
  font-family: ClashGrotesk-Regular;
  font-size: var(--aboutOneCellFontSize);
  color: var(--colorTextDark);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  flex-grow: 0;
  flex-shrink: 0;

  will-change: color, opacity;
  transition: all .4s ease-in-out;
  
  padding: 0;
}

#about-one-container #grid .grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  z-index: 1;
}

#about-one-container #grid .grid-line {
  position: absolute;
  background-color: var(--colorGridBorder);
  pointer-events: none;
  will-change: scale;
  scale: 0;
  transition: all .2s ease-in-out;
}

#about-one-container #grid .grid-line.loaded {
  scale: 1;
}

#about-one-container #grid .grid-lines.horizontal .grid-line {
  left: 0;
  width: 100%;
  height: var(--gridLineThickness);
  transform-origin: left;
}

#about-one-container #grid .grid-lines.vertical .grid-line {
  top: 0;
  width: var(--gridLineThickness);
  height: 100%;
  transform-origin: top;
}

#about-one-container #about-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  top: calc(var(--navbarHeight) + var(--aboutOneCellSize));
  margin: 0;
  margin-top: calc(var(--aboutOneCellSize));
  margin-left: calc(var(--aboutOneCellSize) * 3);

  padding: var(--aboutOneCellSize);

  font-family: ClashGrotesk-Regular;
  font-size: 2rem;
  color: var(--colorTransparent);
  text-wrap: pretty;

  background: var(--colorLight);
  opacity: 0;

  transform: translateY(1px) translateX(1px);

  z-index: 3;

  will-change: width, height, margin-left, margin-top;

  transition: all .2s ease-in-out;

  &.loaded {
    color: var(--colorTextDark);
    opacity: 1;
  }
}

#about-one-container .nav-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: contain;

  width: calc(var(--aboutOneCellSize) * 0.6);
  height: calc(var(--aboutOneCellSize) * 0.6);

  top: calc(var(--navbarHeight) + var(--aboutOneCellSize));

  padding: calc(var(--aboutOneCellSize) * 0.2);

  transition: all .3s ease-in-out;

  cursor: pointer;

  z-index: 4;
}

#about-one-container .nav-arrow.right {
  transform: rotate(180deg);
}

#about-one-container .nav-arrow.hidden {
  opacity: 0;
}

@media (max-width: 1900px) {
  * {
    --aboutOneCellSize: 60px !important;
  }

  #about-one-container #about-content {
    margin-left: calc(var(--aboutOneCellSize) * 3);
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  * {
    --aboutOneCellSize: 50px !important;
  }

  #about-one-container #about-content {
    margin-left: calc(var(--aboutOneCellSize) * 2);
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  * {
    --aboutOneCellSize: 45px !important;
  }

  #about-one-container #about-content {
    margin-left: var(--aboutOneCellSize);
    font-size: 100%;
  }
}
