* {
  --aboutIndexVisibleItems: 4;
  --aboutIndexHeadingFontSize: 3.5vw;
  --aboutIndexContentFontSize: 1.5vw;
  --aboutIndexHeadingLineHeightMulti: 1.2;
  --aboutIndexHeadingLineHeight: calc(var(--aboutIndexHeadingFontSize) * var(--aboutIndexHeadingLineHeightMulti));
}

#about-four-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#about-four-container #about-index-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  gap: 2rem;

  width: 100%;
  height: 100%;

  color: var(--colorTextDark);
}

#about-four-container #about-index {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  flex: 1;
  margin-left: 2rem;

  transition: all 0.3s var(--easeOutCubic);
}

#about-four-container .about-heading {
  font-family: ClashGrotesk-Light;
  font-size: var(--aboutIndexHeadingFontSize);
  line-height: var(--aboutIndexHeadingLineHeight);
  margin: 0;
  transform-origin: left;

  text-transform: uppercase;

  white-space: nowrap;
  cursor: pointer;

  transition: all 0.3s var(--easeOutCubic);

  transform: translateX(-200%);

  animation: slideInX .5s var(--easeOutCubic) forwards;
}

#about-four-container #about-content {
  font-family: ClashGrotesk-Regular;
  font-size: var(--aboutIndexContentFontSize);
  font-weight: 400;
  text-align: justify;
  margin: 0;
  margin-top: 50vh;
  margin-right: 2rem;
  height: 50vh;

  transform: translateY(-20%);

  flex: 1;

  transition: all 0.3s var(--easeOutCubic);

}

#about-four-container .about-heading.active {
  opacity: 1;
  scale: 1.2;
}

#about-four-container .about-heading.ii-from-active {
  opacity: 0.55;
  scale: .7;
}

#about-four-container .about-heading.iii-from-active {
  opacity: 0.3;
  scale: .4;
}

#about-four-container .about-heading.iv-from-active {
  opacity: 0.17;
  scale: .2;
}