/**
 * @license
 *
 * Font Family: Cabinet Grotesk
 * Designed by: ITF
 * URL: https://www.fontshare.com/fonts/cabinet-grotesk
 * © 2022 Indian Type Foundry
 *
 * Font Styles:
 * Cabinet Grotesk Variable(Variable font)
 * Cabinet Grotesk Thin
 * Cabinet Grotesk Extralight
 * Cabinet Grotesk Light
 * Cabinet Grotesk Regular
 * Cabinet Grotesk Medium
 * Cabinet Grotesk Bold
 * Cabinet Grotesk Extrabold
 * Cabinet Grotesk Black
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff') format('woff');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff') format('woff');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff') format('woff');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff') format('woff');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff') format('woff');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff') format('woff');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff') format('woff');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff') format('woff');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}