#about-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  margin: 0;
  padding: 0;
}

#about-two-container #progress-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: calc(100% - 7.5rem);

  gap: 4rem;

  top: calc(var(--navbarHeight) + var(--gridCellSize));
  margin: 0 3.75rem;

  z-index: 3;

  transition: gap 0.3s var(--easeOutCubic);
}

#about-two-container #progress-container .progress-square {
  min-width: .8rem;
  min-height: .8rem;
  padding: 0;
  margin: 0;

  background: var(--colorTextDark);
  border: none;
  border-radius: 0;
  
  cursor: pointer;
  transform-origin: center;
  transform: scale(1);
  opacity: 0;
  
  animation: fadeIn 0.2s var(--easeOutCubic) forwards;
}

#about-two-container #progress-container .progress-square.active {
  background: var(--colorTextBlue);
  transform: scale(1.4);
}

#about-two-container #progress-container .progress-bar-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: max-content;
}

#about-two-container #progress-container .progress-bar-divider .blue {
  width: 0;
  height: 4px;
  background: var(--colorTextBlue);
}

#about-two-container #progress-container .progress-bar-divider.active .blue {
  width: 100%;
}

#about-two-container #progress-container .progress-bar-divider .white {
  width: 100%;
  height: 1px;
  background: var(--colorTextDark);
  transform: scaleX(0);
  transform-origin: left;
  animation: scaleInX 0.2s var(--easeOutCubic) forwards;
}

#about-two-container #progress-container .progress-bar-divider.active .white {
  width: 0;
}

#about-two-container #about-content-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-two-container #about-content {
  position: fixed;
  width: 40vw;
  height: auto;

  font-size: 1.5vmax;
  color: var(--colorTextDark);

  margin: 0;

  z-index: 1;
  
  transition: font-size 0.3s var(--easeOutCubic);
}

#about-two-container #about-heading-container {
  position: fixed;
  left: 0;

  animation: fadeIn 0.3s var(--easeOutCubic) forwards;
}

#about-two-container #about-heading {
  position: fixed;
  display: inline-block;

  bottom: 0;
  margin: 0;
  margin-bottom: calc(8vw * -.13); /* Compensate for the font's retarded bottom margin */

  padding: calc(var(--gridCellSize) / 2);

  white-space: nowrap;
  line-height: 1;
  font-family: ClashGrotesk-Light;
  font-size: 8vw;
  color: var(--colorTextDark);

  text-align: start;
  text-transform: uppercase;

  z-index: 2;

  transition: font-size 0.3s var(--easeOutCubic);
}

@media (max-width: 1900px) {
  #about-two-container #progress-container {
    gap: 3rem;
  }
}

@media (max-width: 1400px) {
  #about-two-container #progress-container {
    gap: 2rem;
  }
}

@media (max-width: 1000px) {
  #about-two-container #progress-container {
    gap: 1rem;
  }

  #about-two-container #about-content {
    font-size: 2vmax;
    width: 60vw;
  }
}