/* LIBRARIES */
@import 'normalize.css';
@import 'helpers/animations.css';

/* FONTS */

@import './fonts/clash-grotesk.css';

* {
  --colorDark: rgb(31, 31, 31);
  --colorLight: #a8a8a8;
  --colorTextBlue: #0f56f4;
  --colorTextDark: #F5F5F5;
  --colorTextPrimary: rgb(73, 73, 73);
  --colorTextSecondary: rgb(104, 104, 104);
  --colorThresholdLine: rgb(154, 154, 154);
  --colorGridBorder: #F5F5F5;
  --colorProjectImgBorder: #0f57f479;
  --colorIntersecting: #0f56f4;

  --colorTransparent: rgba(0, 0, 0, 0);

  --gridCellSize: 40px;
  --aboutOneCellSize: 80px;
  --contactCellSize: 25px;
  --aboutOneCellFontSize: calc(var(--aboutOneCellSize) * .6);
  --navbarHeight: calc(var(--gridCellSize) * 2);
  --cellFontSize: calc(var(--gridCellSize) * .6);
  --navbarFontSize: calc(var(--gridCellSize) * .5);
  
  --gridBorder: 1px solid var(--colorTransparent);

  --easeInOut: cubic-bezier(.33,.16,.32,.99);
  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);

  text-decoration: none;

  font-family: ClashGrotesk-Regular;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: var(--colorDark);
  text-decoration: none;
}

p {
  margin: 0;
}

html, body {
  width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--colorLight);  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none !important;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 850px) {
  * {
    --gridCellSize: 40px;
  }
}