#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: calc(var(--navbarHeight) + var(--gridCellSize));
  align-self: center;
  justify-self: center;
  width: max-content;
  height: calc(100vh - var(--navbarHeight) - var(--gridCellSize));
}

#contact-container * {
  transition: all .2s ease-in-out;
}

#contact-container #grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  background: none;

  margin-bottom: var(--gridCellSize);
}

#contact-container #grid .row {
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;

  z-index: 2;
}

#contact-container #grid .cell {
  font-family: ClashGrotesk-Regular;
  font-size: var(--cellFontSize);
  color: var(--colorTextDark);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  flex-grow: 0;
  flex-shrink: 0;

  will-change: color, opacity;
  transition: all .4s ease-in-out;
  
  padding: 0;
}

#contact-container #grid .grid-line {
  position: absolute;
  background-color: var(--colorGridBorder);
  pointer-events: none;
  will-change: scale;
  scale: 0;
  transition: all .2s ease-in-out;
}

#contact-container #grid .grid-line.loaded {
  scale: 1;
}

#contact-container #grid .grid-lines.horizontal .grid-line {
  left: 0;
  width: 100%;
  height: var(--gridLineThickness);
  transform-origin: left;
}

#contact-container #grid .grid-lines.vertical .grid-line {
  top: 0;
  width: var(--gridLineThickness);
  height: 100%;
  transform-origin: top;
}

#contact-container #grid-floating-text-container {
  position: absolute;
  display: block;

  width: calc(100% - 1px);
  height: calc(100% - 1px);

  transform: translateY(1px) translateX(1px);

  z-index: 3;
}

#contact-container #grid-floating-text-container .grid-floating-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: calc(var(--contactCellSize) * 1.5);

  height: calc(var(--rows) * var(--contactCellSize) - 1px);
  width: calc(var(--cols) * var(--contactCellSize) - 1px);

  padding: 0 calc(var(--contactCellSize) * .5);
  margin: 0;

  font-size: calc(var(--fontScale) * var(--contactCellSize));
  font-family: ClashGrotesk-Light;
  line-height: calc(var(--contactCellSize) * var(--rows));
  overflow: hidden;

  white-space: nowrap;
  
  color: var(--colorTextDark);

  transform-origin: left;
  top: calc((var(--rowStart) - 1) * var(--contactCellSize));
  left: calc((var(--colStart) - 1) * var(--contactCellSize));
  
  transition: all .2s ease-in-out;
}

#contact-container #grid-floating-text-container .grid-overlay {
  background: var(--colorLight);
}

#contact-container #grid-floating-text-container h1.grid-floating-text {
  font-weight: unset;
}

#contact-container #grid-floating-text-container #contact-email {
  font-family: ClashGrotesk-Regular;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

#contact-container #grid-floating-text-container #contact-email-copy {
  font-family: ClashGrotesk-Light;
}

#contact-container #grid-floating-text-container #contact-form {
  border: none;
  cursor: pointer;

  text-align: justify;
  word-spacing: calc(var(--contactCellSize) * 2.5);
}

#contact-container #grid-floating-text-container #contact-form-arrows {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  gap: calc(var(--contactCellSize) * 1.3);

  transition: all .2s ease-in-out;
}

#contact-container #grid-floating-text-container #contact-form-arrows .enzu-arrow {
  width: auto;
  height: calc(var(--contactCellSize) * 1.4);
}

#contact-container #grid-floating-text-container #contact-form:hover ~ #contact-form-arrows, #contact-container #grid-floating-text-container #contact-form-arrows:hover, #contact-container #grid-floating-text-container #contact-form-close:hover {
  background: var(--colorTextBlue);
}

#contact-container #grid-floating-text-container #contact-form:hover ~ #contact-form-arrows .enzu-arrow, #contact-container #grid-floating-text-container #contact-form-arrows:hover .enzu-arrow {
  filter: brightness(0) invert(1);
}

#contact-container #grid-floating-text-container #contact-form-close {
  border: none;
  cursor: pointer;
}

#contact-container #grid-floating-text-container form input {
  border: none;
  text-align: center;
  text-transform: uppercase;
}

#contact-container #grid-floating-text-container form input:focus, #contact-container #grid-floating-text-container form textarea:focus {
  outline-style: dashed;
  outline-color: white;
  border: none;
}

#contact-container #grid-floating-text-container form textarea {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: start;
  text-transform: uppercase;
  resize: none;
  border: none;

  white-space: wrap !important;
  line-height: calc(var(--contactCellSize)) !important;
  padding: 0 calc(var(--contactCellSize)* .5) !important;
}

#contact-container #grid-floating-text-container .credit {
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0;
  line-height: calc(var(--contactCellSize));
  font-family: ClashGrotesk-ExtraLight;

  cursor: pointer;
}

#contact-container .message-length {
  justify-content: center !important;
  font-family: ClashGrotesk-Regular !important;
}

#contact-container .message-length.max {
  color: #d94a4a !important;
}

#contact-container #grid-floating-text-container .credit span {
  font-family: ClashGrotesk-Regular;
}

#contact-container #grid-floating-text-container .credit:hover span {
  color: var(--colorTextBlue);
}

#contact-container #grid-floating-text-container .credit:last-of-type:hover span {
  color: var(--colorDark);
}

#contact-container #grid-floating-text-container #socials-container {
  gap: calc(var(--contactCellSize) * 1 + 1px);
  padding: 0;
}

#contact-container #grid-floating-text-container #socials-container p {
  width: calc(var(--contactCellSize) * 3);
  text-align: center;
}

#contact-container #grid-floating-text-container .social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: left;
  
  width: calc(var(--contactCellSize) * 2);
  height: calc(var(--contactCellSize) * 2 - 1px);
}

#contact-container #grid-floating-text-container .social-link.loaded img {
  opacity: 1;
}

#contact-container #grid-floating-text-container .social-link img {
  width: calc(100% - var(--contactCellSize) * .5);
  height: calc(100% - var(--contactCellSize) * .5);
  opacity: 0;
}

#contact-container #grid-floating-text-container .social-link:hover {
  background: var(--colorTextBlue);
}

#contact-container #grid-floating-text-container #clock-zone, #contact-container #grid-floating-text-container #clock-time {
  justify-content: center;
  gap: 0;
  padding: 0;
}
#contact-container #grid-floating-text-container #clock-time {
  color: var(--colorTransparent);
  gap: 1px;
}

#contact-container #grid-floating-text-container #clock-time.loaded {
  color: var(--colorTextDark);
}

#contact-container #grid-floating-text-container #clock-zone span, #contact-container #grid-floating-text-container #clock-time span {
  font-family: ClashGrotesk-Light;
  margin: 0;
  text-align: center;
}