* {
  --projThumbPreviewWidth: calc(var(--gridCellSize) * 15);
  --projThumbPreviewHeight: unset;
  --projTypeFontSize: calc(var(--gridCellSize) * .5);
  --gridLineThickness: 1px;
}

#grid-container {
  margin-top: var(--navbarHeight);
  z-index: 1;
}

#grid-container #grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  background: none;
}

#grid-container #grid::-webkit-scrollbar {
  display: none !important;
}

#grid-container #grid .row {
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;

  z-index: 2;
}

#grid-container #grid .cell {
  font-family: ClashGrotesk-Light;
  font-size: var(--cellFontSize);
  color: var(--colorTextDark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  flex-grow: 1;
  flex-shrink: 0;

  width: var(--gridCellSize) !important;
  height: var(--gridCellSize) !important;

  will-change: color, opacity;
  
  padding: 0;

  opacity: 0;

}

#grid-container #grid .cell.loaded {
  opacity: 1;
}

#grid-container #grid .cell.project {
  font-family: ClashGrotesk-Light;
  font-weight: 600;
  color: var(--colorTextBlue);
  cursor: pointer;
}

#grid-container #grid .cell.hidden {
  opacity: 0;
}

#grid-container #grid .grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  z-index: 1;
}

#grid-container #grid .grid-line {
  position: absolute;
  background-color: var(--colorGridBorder);
  pointer-events: none;
  will-change: scale;
  scale: 0;
  transition: all .4s ease-in-out;
}

#grid-container #grid .grid-line.loaded {
  scale: 1;
}

#grid-container #grid .grid-lines.horizontal .grid-line {
  left: 0;
  width: 100%;
  height: var(--gridLineThickness);
  transform-origin: left;
}

#grid-container #grid .grid-lines.vertical .grid-line {
  top: 0;
  width: var(--gridLineThickness);
  height: 100%;
  transform-origin: top;
}

#grid-container #project-type_preview {
  position: absolute;
  display: inline-block;
  
  font-family: ClashGrotesk-Regular;
  font-size: var(--projTypeFontSize);
  color: var(--colorDark);
  text-transform: uppercase;

  transform: translate(
    calc(var(--gridCellSize) / 2 - var(--projTypeFontSize) / 4 - 1px),
    calc(var(--gridCellSize) / 2 - var(--projTypeFontSize) / 2));

  margin: 0 !important;
  padding: 0 !important;

  z-index: 3 !important;

  pointer-events: none;
}

#grid-container #project-thumb_preview {
  position: fixed !important;
  display: inline-flex;

  width: calc(var(--projThumbPreviewWidth));
  height: auto;
  aspect-ratio: 16 / 9;

  object-fit: contain;
  visibility: visible;

  margin: 0 !important;
  padding: 0 !important;

  left: 50%;
  top: 50%;

  border: 1px solid var(--colorTextBlue);

  z-index: 3 !important;

  pointer-events: none;

  animation: fadeIn .2s ease-out;
}

#grid-container #project-type_preview.hidden, #grid-container #project-thumb_preview.hidden {
  visibility: hidden;
}
