* {
  --projThumbPreviewWidth: calc(var(--gridCellSize) * 15);
  --projThumbPreviewHeight: unset;
}

#work-content {
  margin-top: var(--navbarHeight);
  overflow: hidden;
}

#grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  background: none;

  z-index: 1 !important;
}

#grid::-webkit-scrollbar {
  display: none !important;
}

#grid .row:first-of-type {
  border-top: var(--gridBorder);
}

#grid .row {
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;

  border-left: var(--gridBorder);
  border-bottom: var(--gridBorder);
}

#grid .cell {
  font-family: ClashGrotesk-Light;
  font-size: var(--cellFontSize);
  color: var(--colorTextDark);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--gridCellSize) !important;
  height: var(--gridCellSize) !important;
  
  border-right: var(--gridBorder);

  opacity: 1;
  
  padding: 0;
  
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  z-index: inherit;
}

#grid .cell.project, #grid .cell.contact {
  font-family: ClashGrotesk-Light;
  font-weight: 600;
  color: var(--colorTextBlue);

  mix-blend-mode: difference;
  cursor: pointer;
}

#grid .cell.hidden {
  opacity: 0;
}

#grid .floating {
  position: absolute;
  display: inline-block;
  
  font-family: ClashGrotesk-Regular;
  font-size: var(--projTypeFontSize);
  color: var(--colorTextSecondary);

  mix-blend-mode: difference;

  transform: translate(
    calc(var(--gridCellSize) / 2 - var(--projTypeFontSize) / 4 - 1px),
    calc(var(--gridCellSize) / 2 - var(--projTypeFontSize) / 2));

  margin: 0 !important;
  padding: 0 !important;
}

#grid #project-type_preview {
  text-transform: uppercase;
}

#grid #project-thumb_preview {
  position: fixed !important;
  display: inline-flex;

  width: calc(var(--projThumbPreviewWidth));
  max-height: 100vh;

  object-fit: contain;
  visibility: visible;

  margin: 0 !important;
  padding: 0 !important;

  left: 50%;
  top: 50%;

  border: 1px solid var(--colorTextBlue);

  z-index: 0;

  pointer-events: none;
}

#grid .floating.hidden, #grid #project-thumb_preview.hidden {
  visibility: hidden;
}