#home-container {
  position: relative;

  width: 100vw;
  max-height: calc(100vh - (var(--navbarHeight) + var(--gridCellSize)));

  margin-top: calc(var(--navbarHeight) + var(--gridCellSize));
}

#home-container .slide {
  width: 100vw;
  height: calc(100vh - (var(--navbarHeight) + var(--gridCellSize)));
}

#home-container #first-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

#home-container #first-slide .vid-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8rem;

  padding: 0 calc(2 * var(--gridCellSize));
}

#home-container #first-slide .vid-container #intro-text::before {
  position: relative;
  display: inline-block;
  content: '';
  background: var(--colorTextBlue);
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  top: -.2rem;
  margin-left: -2.4rem;
  margin-right: 1.6rem;
}

#home-container #first-slide .vid-container #intro-text {
  margin-top: 10rem;

  font-family: 'ClashGrotesk-Regular';
  font-size: 1.8rem;
  color: var(--colorTextDark);
  flex: 1;

  padding: 2rem;

  text-align: justify;
}

#home-container #first-slide #motto {
  position: absolute;
  top: 0;
  left: 50rem;
  
  height: max-content;
  font-family: 'ClashGrotesk-Regular';
  font-size: 9.5rem;
  color: var(--colorTextDark);
  transform: translateX(-50%);

  white-space: nowrap;

  user-select: none;
  pointer-events: none;
}

#home-container #first-slide #motto span {
  position: absolute;
}

#home-container #first-slide #motto span:nth-of-type(2) {
  padding-left: 18.5rem;
}

#home-container #first-slide #motto span:first-of-type {
}

#home-container #first-slide #motto span:nth-of-type(2).floating {
}

#home-container #first-slide .scroll-arrow-container {
  left: 50%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;

  transform: translateX(-50%);
}

#home-container #first-slide .scroll-arrow {
  position: relative;
  width: 2.5rem;
  margin-top: -25%;

  opacity: 0;
}

#home-container #first-slide .scroll-arrow.loaded {
  animation: arrowFade 1.26s steps(1) infinite;
}

#home-container #first-slide .scroll-arrow:nth-child(1) {
  animation-delay: 0s;
}

#home-container #first-slide .scroll-arrow:nth-child(2) {
  animation-delay: 0.21s;
}

#home-container #first-slide .scroll-arrow:nth-child(3) {
  animation-delay: 0.42s;
}

@media only screen and (max-width: 2200px) {
  #home-container #first-slide #motto {
    left: 40rem;
    font-size: 6rem;
  }

  #home-container #first-slide .vid-container {
    gap: 6rem;
  }
}

@media only screen and (max-width: 1900px) {
  #home-container #first-slide .scroll-arrow {
    width: 2rem;
  }

  #home-container #first-slide #motto {
    left: 30rem;
    font-size: 5rem;
  }

  #home-container #first-slide .vid-container {
    gap: 5rem;
  }
}

@media only screen and (max-width: 1500px) {
  #home-container #first-slide #motto {
    left: 20rem;
    font-size: 5rem;
  }

  #home-container #first-slide .vid-container {
    gap: 4rem;
  }
}

@media only screen and (max-width: 1300px) {
  #home-container #first-slide #motto {
    left: 15rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1000px) {
  #home-container #first-slide #motto {
    left: 10rem;
    font-size: 3rem;
  }
}