#loader {
  display: flex;
  position: fixed;
  flex-direction: row;
  
  width: 100vw;
  height: 100vh;

  left: 0;
  top: 0;
  padding: 0;
  margin: 0;

  align-items: center;
  justify-content: center;

  background: var(--colorLight);
  z-index: 10;
  transition: all .4s var(--easeOutCubic);
  -webkit-transition: all .4s var(--easeOutCubic) ;
}

.loader-text {
  display: none;
  font-family: ClashGrotesk-Light;
  font-size: 10em;
  
  color: var(--colorTextBlue);
  user-select: none;
  -webkit-user-select: none;
  text-align: center;

  width: .8em;

  transition: all .4s var(--easeOutCubic);
  -webkit-transition: all .4s var(--easeOutCubic);
}

.loader-text.visible {
  display: inline-block;
  opacity: 1;
}

.loader-text:last-of-type {
  margin-right: .2em;
}

.loader-text.complete {
  width: .5em;
}

.loader-arrow {
  width: 2.4em;
  height: auto;
  margin-right: -1.2em;
  margin-bottom: -1.2em;
  user-select: none;
}

#loader-progress {
  position: absolute;

  font-family: ClashGrotesk-Light;
  font-size: 2.5em;
  
  color: var(--colorTextBlue);
  user-select: none;
  -webkit-user-select: none;
  text-align: center;

  bottom: var(--gridCellSize);
  right: var(--gridCellSize);
}

@media only screen and (max-width: 700px) {
  .loader-text {
    font-size: 8em;
    width: .7em;
  }

  .loader-text:last-of-type {
    margin-right: .15em;
  }

  .loader-arrow {
    width: 2em;
    margin-right: -.9em;
    margin-bottom: -1em;
  }
}