.noise-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  opacity: .2;
}

.noise-container[placement="header"] {
  background-color: #d7d7d7;
  opacity: 1;
}

.noise-container[placement="header"] canvas {
  opacity: .1;
}

.noise-container[placement="background"] {
  top: var(--navbarHeight);
}

.noise-container[placement="background"] canvas {
  opacity: .6;
}

canvas {
  width: 100%;
  height: 100%;
}