#slides-container {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

#slides-container .slide {
  position: fixed;
  width: 100%;
  height: 100%;

  transition: transform 500ms var(--easeOutCubic);
}