<script>
  import { onMount } from 'svelte';
  import { fly } from 'svelte/transition';
  import { cubicOut } from 'svelte/easing';
  import { throttle } from 'lodash';

  let aboutIndex = [
    {heading: "Introduction", content: `I'm Barsin "enzu" Nissan a Stockholm-based designer with a passion for graphic design and a keen eye for aesthetics. My background in Architectural Engineering has equipped me with technical knowledge that I blend with creativity to deliver visually compelling designs.`},
    {heading: "Philosophy", content: `I believe in the power of design to communicate and inspire. My philosophy is centered around creating designs that are not only visually appealing but also meaningful and impactful. I strive to understand the needs and goals of my clients and to deliver designs that resonate with their target audience.`},
    {heading: "Personal Interests", content: `In my free time, I enjoy exploring new design trends, experimenting with different mediums, and pushing the boundaries of what is possible.`},
    {heading: "Technical Proficiency", content: `I possess extensive expertise in industry-leading design and 3D modeling software. I'm proficient in Blender for 3D modeling and animation, the entire Adobe Creative Cloud suite including After Effects, Premiere Pro, Photoshop, and Illustrator for digital content creation. My architectural background is supported by my mastery of Autodesk tools like Fusion360 for parametric modeling and Revit for BIM. I also utilize Figma for UI/UX design and collaborative prototyping.`}
  ];
  let currentIndex = 0;
  let throttleDelay = 500;
  let direction = 0;
  let animationDelay = 400;
  let isAnimating = false;

  $: throttledHandleScroll = throttle((e) => {
      handleScroll(e);
    }, throttleDelay, { trailing: false });

  const handleScroll = (event) => {
    direction = Math.sign(event.deltaY);
    if (direction < 0 && currentIndex > 0) {
      // Scrolling up
      prevIndex();
    } else if (direction > 0 && currentIndex < aboutIndex.length - 1) {
      // Scrolling down
      nextIndex();
    }
  }

  onMount(() => {
    const wheelHandler = (event) => throttledHandleScroll(event);
    window.addEventListener('wheel', wheelHandler);
    return() => {
      window.removeEventListener('wheel', wheelHandler);
    };
  });

  const nextIndex = () => {
    currentIndex++;
  }

  const prevIndex = () => {
    currentIndex--;
  }

  const setIndex = async (newIndex) => {
    if (isAnimating) return;
    if (newIndex === currentIndex) return;
    
    isAnimating = true;
    
    // Determine direction and steps
    direction = newIndex > currentIndex ? 1 : -1;
    let current = currentIndex;
    
    // Animate each step sequentially
    while (current !== newIndex) {
      current += direction;
      currentIndex = current;
      await new Promise(resolve => setTimeout(resolve, animationDelay));
    }
    
    isAnimating = false;
  };

  const slideInY = (node, { duration = animationDelay }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const translateY = direction > 0 ? 75 * u : -75 * u;
        return `
          transform: ${transform} translateY(${translateY}%);
          opacity: ${t};
        `;
      }
    };
  };

  const slideOutY = (node, { duration = animationDelay }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const eased = cubicOut(t);
        const translateY = direction > 0 ? -75 * u : 75 * u;
        return `
          transform: ${transform} translateY(${translateY}%);
          opacity: ${t};
        `;
      }
    };
  };

  const slideInX = (node, { duration = animationDelay }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const translateX = direction > 0 ? 50 * u : -50 * u;
        return `
          transform: ${transform} translateX(${translateX}%);
          opacity: ${t};
        `;
      }
    };
  };

  const slideOutX = (node, { duration = animationDelay }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const eased = cubicOut(t);
        const translateX = direction > 0 ? -50 * u : 50 * u;
        return `
          transform: ${transform} translateX(${translateX}%);
          opacity: ${t};
        `;
      }
    };
  };
</script>

<div id="about-two-container">
  <div id="progress-container">
    {#each aboutIndex as item, index}
      <button 
        class="progress-square"
        class:active={index <= currentIndex}
        index={index}
        heading={item.heading}
        style:transition={`background-color ${animationDelay}ms var(--easeOutCubic), transform ${animationDelay}ms var(--easeOutCubic), border-radius ${animationDelay}ms var(--easeOutCubic)`}
        style:animation-delay={`${animationDelay * index}ms`}
        on:click={() => setIndex(index)}
        />
      {#if index < aboutIndex.length - 1}
        <div 
          class="progress-bar-divider"
          class:active={index <= currentIndex - 1}>
          <hr 
            class="blue"
            style:transition={`width ${animationDelay}ms var(--easeOutCubic)`}
            style:animation-delay={`${animationDelay * index}ms`}
            />
          <hr 
            class="white"
            style:transition={`width ${animationDelay}ms var(--easeOutCubic)`}
            style:animation-delay={`${animationDelay * index}ms`}
            />
        </div>
          
      {/if}
    {/each}
  </div>
  <div id="about-content-container"
    in:fly={{ y: -100, duration: animationDelay, opacity: 0 }}>
    {#each aboutIndex as item, index}
      {#if index === currentIndex}
        <p
          id="about-content"
          in:slideInY
          out:slideOutY>
          {item.content}
        </p>
      {/if}
    {/each}
  </div>
  <div id="about-heading-container">
    {#each aboutIndex as item, index}
      {#if index === currentIndex}
      <h1 
        id="about-heading"
        in:slideInX
        out:slideOutX>
        {item.heading}
      </h1> 
      {/if}
    {/each}
  </div>
</div>

<style>
  @import '../css/AboutTwo.css';
</style>

