<script>
  import SlidesComponent from '$lib/components/Slides.svelte';
	import { cubicOut } from 'svelte/easing';
	import { fade } from 'svelte/transition';
</script>

<div id="home-container" transition:fade={{duration: 400, easing: cubicOut}}>
  <SlidesComponent/>
</div>