<script>
	import { onMount } from 'svelte';
	import { fly } from 'svelte/transition';
  import shuffleLetters from 'shuffle-letters';

  // Components
  import VidToASCII_SVG from '$lib/components/VidToASCII_SVG.svelte';
  import ParallaxProjects from '$lib/components/ParallaxProjects.svelte';
  
  // Media
  import ScrollArrow from '$lib/img/icons/Enzu_arrow_down.svg';
  
  let mottoRef;
  let currentSlide = 1;
  
  onMount(() => {
    // Shuffle animation for first slide.
    shuffleLetters(mottoRef.querySelector('span:first-of-type'), {
      text: 'DESIGNING DREAMS,',
      iterations: 4,
      fps: 120,
      onComplete: el => {
        setTimeout(() => {
          shuffleLetters(mottoRef.querySelector('span:nth-of-type(2)'), {
            text: 'CRAFTING REALITIES',
            iterations: 4,
            fps: 120,
            onComplete: el => {
              document.querySelectorAll('#home-container #first-slide .scroll-arrow-container .scroll-arrow').forEach(arrow => {
                arrow.classList.add('loaded');
              });
            }
          });
        }, 200);
      }
    });

    window.addEventListener('wheel', (e) => {
      if (e.wheelDeltaY > 0) {
        // Scrolling up
        switch (currentSlide) {
          case 2:
            currentSlide = 1;
            break;
          case 3:
            currentSlide = 2;
            break;
          default:
            currentSlide = 1;
            break;
        }
      } else {
        // Scrolling down
        switch (currentSlide) {
          case 1:
            currentSlide = 2;
            break;
          case 2:
            currentSlide = 3;
            break;
          default:
            currentSlide = 3;
            break;
        }
      }
    });
  });
  
</script>

<style>
  @import '../css/Home.css';
  @import '../css/home-slides/FirstSlide.css';
  @import '../css/home-slides/SecondSlide.css';
</style>

<div id="home-container">
  {#if currentSlide === 1}
  <div id="first-slide" class="slide" transition:fly={{delay: 250, duration: 300, x: '-50vw', y: '-200px'}}>
    <div class="content">
      <div class="vid-container">
        <VidToASCII_SVG/>
  
        <div id="intro-text">Hi, I am Barsin "enzu" and I am a creative designer based in Stockholm who views every pixel as a meaningful brushstroke.</div>
      </div>
  
      <div id="motto" bind:this={mottoRef}>
        <span></span>
        <br>
        <span></span>
      </div>
    </div>
  
    <div class="scroll-arrow-container">
      <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
      <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
      <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
    </div>
  </div>

  {:else if currentSlide === 2}
  <div id="second-slide" class="slide" transition:fly={{delay: 250, duration: 300, x: '-50%', y: '-50%'}}>
    <div id="title-container">
      <h1>VIEW SELECTED WORK</h1>
      <button>Click Here</button>
    </div>
    <ParallaxProjects />
  </div>

  {:else if currentSlide === 3}
  <div id="third-slide" class="slide" transition:fly={{delay: 250, duration: 300, x: '-50%', y: '-50%'}}>
    
  </div>
  {/if}
</div>