<script>
  import { state, STATE, shownProject } from '$lib/stores';
  import { onMount, onDestroy } from 'svelte';
  import { fade } from 'svelte/transition';
  import { cubicOut } from 'svelte/easing';
  import Spotlight from 'spotlight.js';

  export let project;

  let projectContainerRef;

  let videos = [];
  let fadeObserver;
  let videoObserver;

  const onCloseClick = () => {
    $state = STATE.Grid;
    $shownProject = "none";
  };

  onMount(() => {
    let hiddenElements = document.querySelectorAll('.project-content .hidden');
    videos = Array.from(projectContainerRef.querySelectorAll('video'));

    fadeObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('hidden');
        }
      });
    }, { rootMargin: '0px 0px -5% 0px' });

    videoObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          try {
            entry.target.play();
          } catch (err) {
            console.error("video ", entry.target.src, "error: ", err);
          }
        } else {
          entry.target.pause();
        }
      });
    }, { threshold: 0.6 });

    hiddenElements.forEach((el) => fadeObserver.observe(el));
    videos.forEach((vid) => videoObserver.observe(vid));
  });

  onDestroy(() => {
    // Clean up the video player references
    videos = [];
    fadeObserver.disconnect();
    videoObserver.disconnect();
  });
</script>

<div bind:this={projectContainerRef} 
  id="{`${project.id}-container`}" 
  class="project-content" 
  transition:fade={{ duration: 400, easing: cubicOut }}>
  <div class="project-header-container">
    <div class="project-title-container">
      {#key project.id}
      <div class="project-title">
        {#each project.projectName.split('') as char}
          {#if char === ' '}
            <span class="mobile-break hidden">&nbsp;</span>
          {:else}
            <span class="hidden">{char}</span>
          {/if}
        {/each}
      </div>
      {/key}
    </div>

    {#key `project-type_${project.id}`}
    <div class="project-type hidden">{project.type}</div>
    {/key}
    
    <div class="project-anim-container">
      {#key `project-anim_${project.id}`}
      <video id="{`${project.id}-anim`}" class="project-anim hidden" alt="{`${project.id} animation`}" autoplay loop muted>
        <source src="{`${project.preview_mp4}`}" type='video/mp4; codecs=hvc1'>
        <source src="{`${project.preview_webm}`}" type='video/webm'>
      </video>
      {/key}
    </div>
  </div>

  <div class="project-info-container">
    <div class="project-tools column hidden">
      <div class="header">TOOLS</div>
      {#each project.tools as tool (tool)}
        {#key `${project.id}_${tool}`}
        <div class="project-tools row">{tool}</div>
        {/key}
      {/each}
    </div>

    <div class="project-creative-fields column hidden">
      <div class="header">CREATIVE FIELDS</div>
      {#each project.creativeFields as creativeField (creativeField)}
        {#key `${project.id}_${creativeField}`}
        <div class="project-creative row">{creativeField}</div>
        {/key}
      {/each}
    </div>

    <div class="project-tags column hidden">
      <div class="header">TAGS</div>
      {#each project.tags as tag (tag)}
        {#key `${project.id}_${tag}`}
        <div class="project-tags row">{tag}</div>
        {/key}
      {/each}
    </div>
  </div>

  <div class="project-media-container spotlight-group" id="{`project-media-container_${project.id}`}">
    {#each project.media as filePath, num (filePath)}
      {#key num}
        {#if filePath.includes('.webp')}
          <a class="spotlight hidden" href="{filePath}">
            <img key={num} src={filePath} alt="{project.projectName}_{num}" />
          </a>
        {:else if filePath.includes('.webm')}
          <a class="spotlight hidden" href={filePath} data-src-webm={filePath} data-media="video" data-muted="true" data-title="{project.projectName}_{num}">
            <video key={num} muted="muted" loop="loop" src={filePath} type="video/webm"></video>
          </a>
        {:else if filePath.includes('.mp4')}
          <a class="spotlight hidden" href={filePath} data-src-mp4={filePath} data-media="video" data-muted="true" data-title="{project.projectName}_{num}">
            <video key={num} muted="muted" loop="loop" src={filePath} type="video/mp4" title="{project.id}_{num}"></video>
          </a>
        {/if}
      {/key}
    {/each}
  </div>

  <button class="hidden" id="btn-close" key="{`btn-close_${project.id}`}" on:click={onCloseClick}>
    <div id="forwards" class="line"></div>
    <div id="backwards" class="line"></div>
  </button>
</div>

<style>
  @import '../css/ProjectContent.css';
</style>