<script>
	import { onDestroy, onMount } from 'svelte';
  import { fade } from 'svelte/transition';
	import { quintInOut } from 'svelte/easing';

  import { getRandomInt, getRandomFloat, shuffleArray } from '$lib/HelperFunctions';
  import { state, STATE, projects } from '$lib/stores';
	
  let container;
  let mouseX = 0, mouseY = 0;
  let xRel = 0, yRel = 0;
  let rotateX = 0, rotateY = 0;
  const minRotateX = 6, maxRotateX = minRotateX * 2;
  const minRotateY = 6, maxRotateY = minRotateY * 2;
  
  let rafId;

  let selectedWorks = shuffleArray($projects.filter(project => project.thumb_mp4));

  let emptyThumbs = [];

  // Add these variables to store relative positions
  const relativePositions = new Map(); // Store positions as percentages

  onMount(() => {
    window.addEventListener('resize', handleWindowResize);
    window.addEventListener('mousemove', handleMouseMove);
    window.addEventListener('mouseout', handleMouseOut);
  });

  const handleWindowResize = (e) => {
    // Update positions using stored percentages
    emptyThumbs.forEach(node => {
      const pos = relativePositions.get(node);
      if (pos) {
        node.style.left = `${pos.x * window.innerWidth}px`;
        node.style.top = `${pos.y * window.innerHeight}px`;
      }
    });
  };

  const handleMouseMove = (e) => {
    mouseX = e.clientX;
    mouseY = e.clientY;
    rafId = requestAnimationFrame(updatePositions);
  };

  const handleMouseOut = (e) => {
    // Center the project thumbs if mouse leaves the viewport
    if (e.clientY <= 0 || e.clientX <= 0 || e.clientX >= window.innerWidth || e.clientY >= window.innerHeight) {
      mouseX = window.innerWidth / 2;
      mouseY = window.innerHeight / 2;
      updatePositions();
    }
  }

  const updatePositions = () => {
    if (container) {
      const rect = container.getBoundingClientRect();
      xRel = (mouseX - rect.left) / rect.width;
      yRel = (mouseY - rect.top) / rect.height;
      
      rotateX = (mouseY / window.innerHeight) * maxRotateX - minRotateX;
      rotateY = (mouseX / window.innerWidth) * maxRotateY - minRotateY;
    }
  }

  const updateEmptyThumbPosition = (node) => {
    // Calculate random positions as percentages of window size
    const xPercent = getRandomFloat(0.3, 0.7); // 30% to 70% of window width
    const yPercent = getRandomFloat(0.3, 0.7); // 30% to 70% of window height
    
    // Store the relative positions
    relativePositions.set(node, { x: xPercent, y: yPercent });
    
    // Set initial position
    node.style.left = `${xPercent * window.innerWidth}px`;
    node.style.top = `${yPercent * window.innerHeight}px`;
  }

  const setInitialPosition = (node, index) => {
    let zOrder = getRandomInt(3, 7);
    let minScale = 0.5;
    let maxScale = 1.4;
    let minSpeed = 1.0; // Slowest speed (for highest zOrder)
    let maxSpeed = 3;  // Fastest speed (for lowest zOrder)

    if (node.classList.contains('empty')) {
      zOrder = getRandomInt(1, 5);
      minScale = 0.8;
      maxScale = 1.0;
      minSpeed = 1.0;
      maxSpeed = 2;
    }
    const scale = minScale + ((maxScale - minScale) * (zOrder - 1) / 7);
    
    let speed = maxSpeed - ((maxSpeed - minSpeed) * (zOrder - 1) / 7);
    if (node.classList.contains('empty'))
      speed = speed + getRandomFloat(0.05, 0.15);
    else
      speed = speed + getRandomFloat(0.1, 0.5);
    
    const rect = node.getBoundingClientRect();
    const viewportWidth = window.innerWidth;
    const viewportHeight = window.innerHeight;

    let startX, startY;

    if (rect.top < viewportHeight / 2) {
      startY = '-100%';
    } else {
      startY = '100%';
    }

    if (rect.left < viewportWidth / 2) {
      startX = '-100%';
    } else {
      startX = '100%';
    }
    
    node.style.setProperty('--z-order', zOrder);
    node.style.setProperty('--speed', speed.toFixed(1));
    node.style.setProperty('--scale', scale.toFixed(1));
    node.style.setProperty('--start-x', `${startX}`);
    node.style.setProperty('--start-y', `${startY}`);

    if (node.classList.contains('empty')) {
      node.style.setProperty('--translate-z', `-200vw`);
    }
    else
      node.style.setProperty('--translate-z', `200vw`);
    node.style.opacity = '0';

    setTimeout(() => {
      if (node.classList.contains('empty')) {
        emptyThumbs.push(node);
        updateEmptyThumbPosition(node);
      }
      node.style.setProperty('--start-x', `0px`);
      node.style.setProperty('--start-y', `0px`);
      node.style.setProperty('--translate-z', `0px`);
      node.style.opacity = '1';
    }, 400 + (index * 200));
  }

  onDestroy(() => {
    window.removeEventListener('mousemove', handleMouseMove);
    window.removeEventListener('resize', handleWindowResize);
    cancelAnimationFrame(rafId);
  });
</script>

<style>
  @import '../css/home-slides/SelectedWorks.css';
</style>


<div id="selected-works" bind:this={container}
  style:--mouseX={xRel}
  style:--mouseY={yRel}
  style:--rotateX="{-rotateX}deg"
  style:--rotateY="{rotateY}deg">
  {#each selectedWorks as project, i}
    <video
      alt="project preview"
      class="project-thumb"
      autoplay
      playsinline
      loop
      muted
      use:setInitialPosition={i}>
      <source
        src={project.thumb_mp4}
        type='video/mp4'/>
    </video>
  {/each}
  {#each Array(getRandomInt(2, 4)) as _, i}
    <div
      alt="placeholder"
      class="project-thumb empty"
      use:setInitialPosition={i}>
    </div>
  {/each}
  <button id="title-container"
    on:click={() => $state = STATE.Grid}>
    <h1 
      in:fade={{duration: 500, easing: quintInOut, delay: 1700}}>
      VIEW SELECTED WORKS
    </h1>
    <div id="btn-container">
      <span in:fade={{duration: 500, easing: quintInOut, delay: 1900}}></span>
      <button in:fade={{duration: 500, easing: quintInOut, delay: 2100}}>Click Here</button>
    </div>
  </button>
</div>
