<script>
  import { onMount } from "svelte";
  import { canScroll } from '$lib/stores';
  import { throttle } from 'lodash';
  import shuffleLetters from 'shuffle-letters';

  // Media
  import ENZUArrow from '$lib/img/icons/Enzu_arrow.svg';

  let services = ['Branding', 'Graphic Design', 'Logo Design', 'Motion Graphics', 'Web Design', '3D Design & Motion', 'Video Editing'];
  let currentIndex = 0;
  let innerContainerRef;
  let rotateX = 0, rotateY = 0;

  let serviceScroll = false;

  $: throttledHandleScroll = throttle((e) => {
      handleScroll(e);
    }, throttleDelay, { trailing: false });
  let throttleDelay = 100;

  onMount(() => {
    
    // Attach appropriate event listeners
    window.addEventListener('mousemove', handleMouseMove);
    const wheelHandler = (event) => throttledHandleScroll(event);
    window.addEventListener('wheel', wheelHandler);

    return() => {
      window.removeEventListener('mousemove', handleMouseMove);
      window.removeEventListener('wheel', wheelHandler);
    };
  });

  const handleMouseMove = (e) => {
    const mouseX = e.clientX;
    const mouseY = e.clientY;

    rotateX = (mouseY / window.innerHeight) * 2 - 1;
    rotateY = (mouseX / window.innerWidth) * 2 - 1;
  };

  const handleScroll = (e) => {
    if (serviceScroll) {
      const direction = Math.sign(event.deltaY);
      if (direction > 0 && currentIndex < services.length - 1) {
        // Scrolling down
        currentIndex++;
      } else if (direction < 0 && currentIndex > 0) {
        // Scrolling up
        currentIndex--;
      }
    }
  }

  const loadServices = (node) => {
    setTimeout(() => {
      node.classList.add('loaded');
      serviceScroll = true;
      shuffleLetters(document.querySelector('#services-container h4'), {
        text: 'Services',
        iterations: 10,
        fps: 60
      });
    }, 1400);
  }

  $: if (currentIndex === 0) {
    $canScroll = true;
  }
  else {
    $canScroll = false;
  }

</script>

<style>
  @import '../css/home-slides/Services.css';
</style>

<div id="services-container">
  <div class="inner-container" bind:this={innerContainerRef}
    style:--rotateX="{-rotateX}deg"
    style:--rotateY="{rotateY}deg">

    <h4></h4>
    
    <div id="scroller">
      <div class="title-container">
        <div class="enzu-title">enzu</div>
        <div class="arrows"
          >
          <img src={ENZUArrow} alt='arrow_left' class='enzu-arrow' use:loadServices/>
          <img src={ENZUArrow} alt='arrow_left' class='enzu-arrow' use:loadServices/>
          <img src={ENZUArrow} alt='arrow_left' class='enzu-arrow' use:loadServices/>
        </div>
      </div>
  
      <ul id="services-list"
        style:--currentIndex={`${currentIndex}`}
        use:loadServices>
        {#each services as service, i}
          <li 
            index={i}
            class:active={i === currentIndex}
            on:click={() => currentIndex = i}
            >
            {service}
          </li>
        {/each}
      </ul>
    </div>
  </div>
</div>