<script>
  import { onDestroy, onMount } from 'svelte';
  import { cubicOut } from 'svelte/easing';
  import { throttle } from 'lodash';

  import { canScroll } from '$lib/stores';

  // Components
  import VidToASCII from '$lib/components/VidToASCII.svelte';
  import SelectedWorks from '$lib/components/SelectedWorks.svelte';
	import Services from '$lib/components/Services.svelte';

  $: $canScroll = true;

  $: throttledHandleScroll = throttle((e) => {
      handleScroll(e);
    }, throttleDelay, { trailing: false });

  let direction = 1;

  let currentSlide = 0;
  let throttleDelay = 1000;

  const handleScroll = (event) => {
    if ($canScroll) {
      // console.log("Can scroll: ", $canScroll, ", currentSlide: ", currentSlide, ", direction: ", direction);
      direction = Math.sign(event.deltaY);
      if (direction < 0 && currentSlide > 0) {
        // Scrolling up
        currentSlide--;
      } else if (direction > 0 && currentSlide < 2) {
        // Scrolling down
        currentSlide++;
      }
    }
  }

  onMount(() => {
    const wheelHandler = (event) => throttledHandleScroll(event);
    window.addEventListener('wheel', wheelHandler);
    return() => {
      window.removeEventListener('wheel', wheelHandler);
    };
  });

  const slideIn = (node, { duration = 500 }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const translateY = direction > 0 ? 100 * u : -100 * u;
        return `
          transform: ${transform} translateY(${translateY}%);
        `;
      }
    };
  };

  const slideOut = (node, { duration = 500 }) => {
    const style = getComputedStyle(node);
    const transform = style.transform === 'none' ? '' : style.transform;

    return {
      duration,
      easing: cubicOut,
      css: (t, u) => {
        const eased = cubicOut(t);
        const translateY = direction > 0 ? -100 * u : 100 * u;
        return `
          transform: ${transform} translateY(${translateY}%);
        `;
      }
    };
  };

</script>

<div id="slides-container">
  {#if currentSlide === 0}
    <div 
      id='slide0'
      class='slide'
      in:slideIn
      out:slideOut>
      <VidToASCII/>
    </div>
  {:else if currentSlide === 1}
    <div 
      id='slide1'
      class='slide'
      in:slideIn
      out:slideOut>
      <SelectedWorks/>
    </div>
  {:else if currentSlide === 2}
    <div 
      id='slide2'
      class='slide'
      in:slideIn
      out:slideOut>
      <Services/>
    </div>
  {/if}
</div>

<style>
  @import '../css/Slides.css';
</style>