<script>
  import { onDestroy, onMount } from 'svelte';
  import { fade } from 'svelte/transition';
	import { cubicOut } from 'svelte/easing';
  import shuffleLetters from 'shuffle-letters';
  import { getCachedUrl } from '$lib/HelperFunctions';
  
  // Media
  import ScrollArrow from '$lib/img/icons/Enzu_arrow_down.svg';

  import SquareFive from '$lib/img/icons/PixelSquares/5.svg';
  import SquareFour from '$lib/img/icons/PixelSquares/4.svg';
  import SquareThree from '$lib/img/icons/PixelSquares/3.svg';
  import SquareTwo from '$lib/img/icons/PixelSquares/2.svg';
  import SquareOne from '$lib/img/icons/PixelSquares/1.svg';

  let WIDTH = Math.floor(700);
  let HEIGHT = Math.floor(WIDTH * 0.6);

  const SCALE = 8; // Each SVG represents a 5x5 pixel area
  const SVG_WIDTH = Math.floor(WIDTH / SCALE);
  const SVG_HEIGHT = Math.floor(HEIGHT / SCALE);

  const SVG_LOOKUP = [SquareOne, SquareTwo, SquareThree, SquareFour, SquareFive];

  let PortraitVidUrl = new URL('../vid/Portrait.mp4', import.meta.url).href;

  let videoElement;
  let mottoRef;
  let introTextRef;
  let loadMessage = false;
  let tempCanvas;
  let tempCtx;
  let rafId;
  let svgContainer;
  let svgPixels = [];

  let lastFrameTime = 0;
  let frameDelay = 60;

  onMount(() => {
    initializeSvgPixels();
    shuffleAnim();
  });

  function initializeSvgPixels() {
    svgPixels = Array(SVG_HEIGHT).fill().map(() => 
      Array(SVG_WIDTH).fill(4)
    );
  }

  function setupCanvas() {
    tempCanvas = document.createElement('canvas');
    tempCanvas.width = WIDTH;
    tempCanvas.height = HEIGHT;
    tempCtx = tempCanvas.getContext('2d', { willReadFrequently: true, alpha: false });
  }

  function updateSvg(timestamp) {
    if (!lastFrameTime) lastFrameTime = timestamp;
    
    const elapsed = timestamp - lastFrameTime;
    
    if (elapsed >= frameDelay && videoElement) {
      lastFrameTime = timestamp;
      
      tempCtx.drawImage(videoElement, 0, 0, WIDTH, HEIGHT);
      const imageData = tempCtx.getImageData(0, 0, WIDTH, HEIGHT);

      for (let y = 0; y < SVG_HEIGHT; y++) {
        for (let x = 0; x < SVG_WIDTH; x++) {
          const pixelX = x * SCALE;
          const pixelY = y * SCALE;
          const i = (pixelY * WIDTH + pixelX) * 4;
          const brightness = (imageData.data[i] + imageData.data[i + 1] + imageData.data[i + 2]) / 3;

          let index;
          if (brightness > 200) index = 4;
          else if (brightness > 170) index = 3;
          else if (brightness > 120) index = 2;
          else if (brightness > 60) index = 1;
          else index = 0;

          if (svgPixels[y][x] !== index) {
            svgPixels[y][x] = index;
          }
        }
      }
    }

    rafId = requestAnimationFrame(updateSvg);
  }

  async function setupVideo() {
    if (videoElement) {
      PortraitVidUrl = await getCachedUrl(PortraitVidUrl);
      return await videoElement.play();
    }
  }

  function shuffleAnim() {
    loadMessage = true;
    shuffleLetters(mottoRef.querySelector('span:first-of-type'), {
      text: 'DESIGNING DREAMS,',
      iterations: 6,
      fps: 50,
      onComplete: el => {
        setTimeout(() => {
          shuffleLetters(el.nextElementSibling.nextElementSibling, {
            text: 'CRAFTING REALITIES',
            iterations: 6,
            fps: 50,
            onComplete: async el => {
              loadInMessage();
              setupCanvas();
              await setupVideo();
              document.querySelectorAll('#home-container #slide0 .scroll-arrow-container .scroll-arrow').forEach(arrow => {
                arrow.classList.add('loaded');
              });
            }
          });
        }, 200);
      }
    });
  }

  function loadInMessage() {
    shuffleLetters(introTextRef, {
      text: 'Hi, I am Barsin "enzu" and I am a creative designer based in Stockholm who views every pixel as a meaningful brushstroke.',
      iterations: 10,
      fps: 50
    });
  }

  function handleMouseOver(event) {
    const squareEl = event.target;

    if (!squareEl.classList.contains('hovered'))
      squareEl.classList.add('hovered');
  }

  function handleMouseLeave(event) {
    const squareEl = event.target;

    setTimeout(() => {
      squareEl.classList.remove('hovered');
    }, 700);
  }

  onDestroy(() => {
    cancelAnimationFrame(rafId);
  });

</script>

<style>
  @import '../css/home-slides/VidToASCII.css';
</style>

<div class="content">
  <div class="vid-container">
    <div id="vid-to-ascii-container"
      in:fade={{ duration: 500, delay: 500, easing: cubicOut }}>
      <video
        bind:this={videoElement}
        preload="auto"
        playsinline
        loop
        muted
        on:play={() => {
          lastFrameTime = 0;
          updateSvg(performance.now());
        }}
        style="display: none;">
        <source
          src={PortraitVidUrl}
          type='video/mp4'/>
      </video>
      <div class="svg-container" bind:this={svgContainer}>
        {#each svgPixels as row, y}
          <div class="svg-row">
            {#each row as svgIndex, x}
              <img
                src={SVG_LOOKUP[svgIndex]}
                alt="Pixel"
                class="svg-pixel"
                x={x}
                y={y}
                on:mouseenter={(event) => handleMouseOver(event)}
                on:mouseleave={(event) => handleMouseLeave(event)}
                on:focus={(event) => handleMouseOver(event)}
              />
            {/each}
          </div>
        {/each}
      </div>
    </div>
    {#if loadMessage}
      <div id="intro-text" bind:this={introTextRef} in:fade={{ delay: 500, duration: 500, easing: cubicOut }}></div>
    {/if}
  </div>

  <div id="motto" bind:this={mottoRef}>
    <span></span>
    <br>
    <span></span>
  </div>
</div>

<div class="scroll-arrow-container">
  <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
  <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
  <img src={ScrollArrow} alt='arrow_down' class='scroll-arrow'/>
</div>

